<header>
    <h1>Bijles</h1>
</header>
<main>
   {{#each user}}
                <h2>Accountgegevens</h2>
				<p>Naam: {{this.name}}</p>  
                <p>Achternaam: {{this.surname}}</p> 
                <p>Email: {{this.email}}</p> 	
	{{/each}}
</main>