*{
    margin: 0;
    padding: 0;
}

header{
    padding: 0.3em;
    background-color: rgb(125, 187, 187);
    text-align: center;
}

header h1{
    font-family: 'Nunito Sans', 'Open Sans', sans-serif;
}


form{
    display: flex;
    flex-direction: column;
    padding: 1em;
    margin: 50px 320px; 
    background-color: rgb(112, 172, 147); 
    border: none;
    border-radius: 1.1em;
}

form fieldset{
    margin: 0 100px; 
    display: flex;
    flex-direction: column;
    border: none; 
    padding: .5em;    
}

label{
    font-family:'Nunito Sans', 'Open Sans', sans-serif;
}

input{
    padding: .5em; 
    margin: .2em 0; 
    border:none; 
    border-radius: .5em;
}

select{
    padding: .5em; 
    border:none; 
    border-radius: .5em;
}
 
input[type=submit]{
    margin: 0 200px;  
}

form fieldset:last-of-type{
    display: flex;
   
    flex-direction: row;
}

form fieldset:last-of-type input, form fieldset:last-of-type label{
    margin: 0 5px;

}

form fieldset:last-of-type p{
    display: none;
}

p{
    margin: 5px 0; 
    font-family:'Nunito Sans', 'Open Sans', sans-serif;
    font-size: 10px;
    font-weight: 700;
}
    


/* met deze code hieronder wordt mijn applicatie responsive */

@media all and (max-width: 900px) {
    form{
        margin: 20px 10px; 
    }
    
    form fieldset{
        margin: 0; 
    }

    input[type=submit]{
        margin: 0;  
    }

    input{
        padding: .5em; 
        margin: 3px 0; 
    }
    
}

.invalid {
    border-bottom: 2px solid rgb(255, 122, 122);
}




